### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Player Count

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_sn = purchase_data["SN"].value_counts()
purchase_sn

Lisosia93       5
Iral74          4
Idastidru52     4
Rarallo90       3
Lisopela58      3
               ..
Alaesu77        1
Mindossa76      1
Jiskadarst60    1
Jeyciman68      1
Chanadar44      1
Name: SN, Length: 576, dtype: int64

In [3]:
purchase_sn_len = len(purchase_sn)
purchase_sn_len

576

* Display the total number of players

In [4]:
player_count = pd.DataFrame({"Total Players": [purchase_sn_len],})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#basic calculation to obtain number of unique items
unique_items = purchase_data["Item ID"].nunique()

#basic calculation to obtain average price
avg_price = purchase_data["Price"].mean()

#basic calculation to obtain number of purchases
num_of_purchases = purchase_data["Price"].count()

#basic calculation to obtain total revenue
tot_revenue = purchase_data["Price"].sum()

In [6]:
unique_items

179

In [7]:
avg_price

3.050987179487176

In [8]:
tot_revenue

2379.77

In [9]:
#Create a summary data frame to hold the results
summary_dataframe = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
     "Average Price": [avg_price],
     "Number of Purchases": [num_of_purchases],
     "Total Revenue": [tot_revenue]
     }
)
summary_dataframe

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [10]:
#Optional: give the displayed data cleaner formatting
summary_dataframe.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
total_players = purchase_sn_len
total_players

576

In [12]:
gender_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
gender_demographics.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [13]:
gender_demographics = gender_demographics.drop_duplicates()

player_count = gender_demographics.count()[0]
player_count

576

In [14]:
#Categories of All Players
cat_all_players = gender_demographics["Gender"].value_counts()
cat_all_players

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [15]:
#Percentage of All Players
percentage_of_players = cat_all_players / total_players *100
percentage_of_players

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [16]:
#Create a summary data frame to hold the results
gender_demo_summary = pd.DataFrame(
    {"Total Count": cat_all_players,
     "Percentage of Players": percentage_of_players
     }
)
gender_demo_summary

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [17]:
#Styling 
gender_demo_summary = gender_demo_summary.round(2)

#Data Gender_demographics
gender_demo_summary

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
#group by gender
gen_pur = purchase_data.groupby(['Gender'])
gen_pur

#Basic calculations to obtain purchase count by gender
purchase_count = gen_pur["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [20]:
#Basic calculations to obtain average purchase price by gender
purchase_price = gen_pur["Price"].mean()
purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [21]:
#Basic calculations to obtain total purchase value by gender
total_purchase_value = gen_pur["Price"].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
tot_count_gender = gen_pur.nunique()["SN"]
tot_count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [23]:
#Basic calculations to obtain avg total purchase per person by gender
average_total_purchase_pr_person = total_purchase_value / tot_count_gender
average_total_purchase_pr_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [24]:
# Create data frame with obtained values 
purchasing_analysis_gender = pd.DataFrame(
                            {"Purchase Count": purchase_count, 
                            "Average Purchase Price": purchase_price,
                            "Total Purchase Value":total_purchase_value,
                            "Avg Total Purchase per Person": average_total_purchase_pr_person})
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [25]:
# Provide index in top left as "Gender"
purchasing_analysis_gender.index.name = "Gender"
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [26]:
# Format with currency style
purchasing_analysis_gender.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
#Establish bins for ages
age_demo_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
group_lbl_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

In [28]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
gender_demographics["Age Ranges"] = pd.cut(gender_demographics["Age"], age_demo_bins, labels=group_lbl_names)
gender_demographics.head()

  Gender             SN  Age Age Ranges
0   Male        Lisim78   20      20-24
1   Male    Lisovynya38   40        >40
2   Male     Ithergue48   24      20-24
3   Male  Chamassasya86   24      20-24
4   Male      Iskosia90   23      20-24

In [29]:
#Calculate the percentages by age group
age_demo_totals = gender_demographics["Age Ranges"].value_counts()
age_demo_totals

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
>40       12
Name: Age Ranges, dtype: int64

In [30]:
#Calculate the numbers by age group
age_demo_percents = age_demo_totals / total_players * 100
age_demo_percents

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
>40       2.083333
Name: Age Ranges, dtype: float64

In [31]:
#Create a summary data frame to hold the results
age_demo_summary = pd.DataFrame(
                    {"Total Count": age_demo_totals, 
                     "Percentage of Players": age_demo_percents})
age_demo_summary

       Total Count  Percentage of Players
20-24          258              44.791667
15-19          107              18.576389
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
10-14           22               3.819444
<10             17               2.951389
>40             12               2.083333

In [32]:
#Sort the dataframe
age_demo_summary = age_demo_summary.sort_index()
age_demo_summary

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
>40             12               2.083333

In [33]:
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table

age_demo_summary = age_demo_summary.round(2)
age_demo_summary

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
>40             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [35]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_demo_bins, labels=group_lbl_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
#Bin the purchase_data data frame by age
groupby_age = purchase_data.groupby("Age Ranges")
groupby_age

In [37]:
#Basic calculations to obtain purchase count  paa -purchasing analysis age
purchase_count_paa = groupby_age["Purchase ID"].count()
purchase_count_paa

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
>40       13
Name: Purchase ID, dtype: int64

In [38]:
#Basic calculations to obtain avg. purchase price
average_purchase_price_paa = groupby_age["Price"].mean()
average_purchase_price_paa

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
>40      2.941538
Name: Price, dtype: float64

In [39]:
#Basic calculations to obtain total purchase value
total_purchase_value_paa = groupby_age["Price"].sum()
total_purchase_value_paa

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
>40        38.24
Name: Price, dtype: float64

In [40]:
# Count total players by age category
total_count_ages = age_grouped["SN"].nunique()

NameError: name 'age_grouped' is not defined

In [ ]:
#Basic calculations to obtain avg. purchase total per person
avg_purchase_per_person_paa = total_purchase_value_paa/total_count_ages
avg_purchase_per_person_paa

In [ ]:
#Create a summary data frame to hold the results
pa_age_demographics = pd.DataFrame({"Purchase Count": purchase_count_paa,
                                 "Average Purchase Price": average_purchase_price_paa,
                                 "Total Purchase Value":total_purchase_value_paa,
                                 "Average Purchase Total per Person": avg_purchase_per_person_paa})

pa_age_demographics

In [ ]:
#Optional: give the displayed data cleaner formatting
pa_age_demographics.index.name = None

pa_age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Group purchase data by screen names
top_senders = purchase_data.groupby("SN")
top_senders

In [ ]:
#Basic calculations to obtain Purchase Count ts-top senders
purchase_count_ts = top_senders["Purchase ID"].count()
purchase_count_ts

In [ ]:
#Basic calculations to obtain avg. purchase price ts-top senders
avg_purchase_price_ts = top_senders["Price"].mean()
avg_purchase_price_ts

In [ ]:
#Basic calculations to obtain total purchase value ts-top senders
total_purchase_value_ts = top_senders["Price"].sum()
total_purchase_value_ts

In [ ]:
# Create data frame with obtained values
top_spenders_summary = pd.DataFrame({"Purchase Count": purchase_count_ts,
                                     "Average Purchase Price": avg_purchase_price_ts,
                                     "Total Purchase Value":total_purchase_value_ts}
                                   )    
top_spenders_summary.head()

In [ ]:
# Sort in descending order to obtain top 5 spender names 
top_spenders_sum_format = top_spenders_summary.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders_sum_format

In [ ]:
# More Formatting
top_spenders_sum_format.style.format({"Average Purchase Total":"${:,.2f}",
                                     "Average Purchase Price":"${:,.2f}", 
                                     "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#Retrieve the Item ID, Item Name, and Item Price columns
all_items = purchase_data[["Item ID", "Item Name", "Price"]]
all_items.head()

In [ ]:
#Basic calculations to obtain  purchase count 
#mpi-most popular items
purchase_count_mpi = all_items_groupby["Price"].count()
purchase_count_mpi

In [ ]:
#Basic calculations to obtain total purchase value 
#mpi-most popular items
total_purchase_value_mpi = (all_items_groupby["Price"].sum()) 
total_purchase_value_mpi

In [ ]:
#Basic calculations to obtain item price
#mpi-most popular items
item_price_mpi = total_purchase_value_mpi/purchase_count_mpi
item_price_mpi

In [ ]:
#Create a summary data frame to hold the results
most_popular_items_summary = pd.DataFrame({"Purchase Count": purchase_count_mpi, 
                                           "Item Price": item_price_mpi,
                                           "Total Purchase Value":total_purchase_value_mpi}
                                         )

most_popular_items_summary.head()

In [ ]:
#Sort the purchase count column in descending order
mpi_desc = most_popular_items_summary.sort_values(["Purchase Count"], ascending=False).head()
mpi_desc

In [ ]:
#Optional: give the displayed data cleaner formatting
mpi_desc.style.format(
                        {"Item Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"})

In [ ]:
#Sort the above table by total purchase value in descending order
mpi_desc  = most_popular_items_summary.sort_values(["Total Purchase Value"],ascending=False).head()
mpi_desc

In [ ]:
#Optional: give the displayed data cleaner formatting
mpi_desc.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})